.success {
    background-color: lightgray;
    border-radius: 3px;
    border: 3px solid green;
    padding: .5rem;
    width: 50%;
}

.success-title {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}